[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
bind-address = *

character_set_server=utf8
collation_server=utf8_unicode_ci

innodb_file_format=barracuda
innodb_file_per_table=1
innodb_large_prefix=1

